version: '3.8'

services:
  web:
    build:
      dockerfile: Dockerfile
    ports:
      - 8000:8000
    depends_on:
      - redis
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
    restart: always

  redis:
    image: redis:alpine
    ports:
      - 6379:6379
    restart: always
